* {
    margin: 0;
    padding: 0;
    font-family: 'Acme', sans-serif;
}

body {
    background-color: #212121;
}

nav {
    height: 94px;
    line-height: 94px;
}

.no-margin{
  margin: 0 !important;
}

.logo {
    width: 16em;
    margin: 1em 2em;
}

.txt {
    font-size: 1.5em;
    color: #858d99;
}

a:hover {
    color: #ab47bc;
}

.box-input {
    box-sizing: inherit;
    border-radius: 0.5em;
}

.txt-1 {
  color: #fff;
}

.txt-2 {
  color: #fff;
}


/* Navegador */

.text-nav {
  color: #bdbdbd;
}

.glass{
  line-height: 96px !important;
}

/* Modal Sign In */

.modalTxt {
  padding-top: 0.5em;
}

.fa {
  color: #9c27b0;
  padding: 1em 0.8em;
}


/* Modal Sign Up */

#success {
  font-weight: 600;
  font-size: 2em;
}


/* Perfil usuario */

.logoProfile {
    width: 13em;
    margin-left: 3em;
    margin-bottom: 2em;
    margin-top: 1em;
}

.containerNumber {
    border-radius: 8px;
}

.colorTextProfile {
    color: #ab47bc;
}

.container-profile {
    border: 1px solid black;
    padding: 7%;
    background-color: #FFFFFF;
}

.img-profile {
    margin-left: 29%;
}

.container-profile-movil {
    border-bottom: 1px solid black;
}

.btn-profile {
    background-color: black;
    border-radius: 15px;
    color: #fff;
}

.text-profile {
    color: #fff;
}

#copyright {
    margin-left: 40em;
    text-align: center;
}


/* Video cover */

.slider-frame {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

.btnNetflix {
    width: 40px;
    height: 80%;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    z-index: 1000;
}

.prev {
    left: 0px;
}

.next {
    right: 0px;
}

.slider-container {
    transition: margin-left .2s ease, left .5s ease;
    position: absolute;
    left: 0;
}

.slide {
    float: left;
    position: relative;
    top: 0;
    transition: width .2s ease, height .2s ease, top .2s ease;
}

#video-background {
    z-index: 1;
    opacity: 0.7;
}

.text-fondo {
    position: absolute;
    z-index: 2;
    font-size: 2rem;
    margin-top: 13em !important;
    background-color: rgba(0,0,0,0.2)
}

.slider-frame {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

.btnNetflix {
    width: 40px;
    height: 100%;
    background: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 0;
    z-index: 1000;
}

.prev {
    left: 0px;
}

.next {
    right: 0px;
}

.slider-container {
    transition: margin-left .2s ease, left .5s ease;
    position: absolute;
    left: 0;
}

.slide {
    float: left;
    position: relative;
    top: 0;
    transition: width .2s ease, height .2s ease, top .2s ease;
}

.posterList {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.titleList {
    margin-left: 2em;
}

.titlePoster {
    margin-bottom: 1em;
}

.imgPoster,
.imgPosterP,
.imgPosterV {
    border: 0.2em #B097B1 solid;
    width: 15em;
}

.titlePoster,
.titlePosterP,
.titlePosterV,
.texto {
  color: #fff;
  font-weight: bold;
  margin-bottom: 3em;
}

.listViews,
.listPending,
.titleCenter {
  text-align: center;
}

.createList {
  border: 0.2em white solid;
  height: 5em;
  width: 30em;
  text-align: center;
}

#createList {
  width: 30em;
  resize: none;
  margin-top: 0.5em;
  color: white;
  padding-left: 1em;
  padding-top: 1.2em;
  display: flex;
  flex-direction: row;
}

.m_image,
.imgContent {
  border: 0.2em rgb(58, 26, 59) solid;
  width: 40%;
}

.divContent,
.divContentP {
  text-align: center;
}

.titleList {
  margin-left: 2em;
}

.modal {
  color: rgba(0,0,0,0.87)!important;
}

#search {
  height: 3em;
  font-size: 1.5em;
  border: 2px solid lightgray;
  border-radius: 10px;
}

#btnSearch {
  color: #9c27b0;
  width: 4em;
}

.imageXL {
  height: 30em!important;
}

.imageXS {
  height: 15em!important;
}

.cardXL {
  height: 39em!important;
}

.cardXS {
  height: 20em!important;
}

.btnList {
  font-size: 2.5rem!important;
  cursor: pointer;
  color: #212121;
  display: inline-block;
}

.boxTitleXL {
  overflow: hidden;
  max-height: 2.5em;
}

.boxTitleXS {
  overflow: hidden;
  max-height: 2.25em;
}

.indicator  {
  background-color: #9c27b0!important;
  height: 0.4em!important;
}

.btnTop {
  font-size: 2em!important;
}

.tabs, .tab {
  height: 5em!important;
}

.tabs {
  margin-bottom: 3em!important;
}
#modalSearch{
  width: 100%; 

}