body{
	background-color: #212121;
}


/*navegador*/
.text-nav {
	color:#bdbdbd ;
}

/*perfil usuario*/
.color-text-profile{
color:#bdbdbd ;
}
.container-profile{
	border:1px solid black;
	padding:7%;
	background-color: #FFFFFF;
}
.img-profile{
	margin-left: 29%;
}

.container-profile-movil{
	border-bottom: 1px solid black;
	
}
.btn-profile{
	background-color:  black;
	border-radius: 15px;
	color:#fff;
}
.text-profile{
	color:#fff;
}