* {
    margin: 0;
    padding: 0;
    font-family: 'Acme', sans-serif;
}

body {
    background-color: #212121;
}

nav {
    height: 94px;
    line-height: 94px;
}

.logo {
    width: 16em;
    margin: 1em 2em;
}

.txt {
    font-size: 1.5em;
    color: #858d99;
}

a:hover {
	color: #ab47bc;
}

.box-input {
    box-sizing: inherit;
    border-radius: 0.5em;
}

.txt-1 {
    color: #fff;
}

.txt-2 {
    color: #fff;
}


/* Navegador */

.text-nav {
    color: #bdbdbd;
}


/* Modal Sign In */

.modalTxt {
    padding-top: 0.5em;
}

.fa {
    color: #9c27b0;
    padding: 1em 0.8em;
}


/* Modal Sign Up */

#success {
    font-weight: 600;
    font-size: 2em;
}

/* Perfil usuario */

.colorTextProfile {
    color: #ab47bc;
}

.container-profile {
    border: 1px solid black;
    padding: 7%;
    background-color: #FFFFFF;
}

.img-profile {
    margin-left: 29%;
}

.container-profile-movil {
    border-bottom: 1px solid black;
}

.btn-profile {
    background-color: black;
    border-radius: 15px;
    color: #fff;
}

.text-profile {
    color: #fff;
}

#copyright {
    margin-left: 15.6em;
}


/* Video cover */

.coverMovies {
    border: 6px solid white;
}

.carousel {
    margin-top: 0;
}

.colorViews {
    color: #000;
}